@media all and (min-width:320px) and (max-width:767px)/*(max-width:420px)*/{
    #admin_box{
        padding:10px;
    }
    #admin-member{
        padding-bottom:40px;
    }
    #admin-title>h3{
        display:inline-block;
        background-color:rgba(1,165,141);
        color:white;
        padding:5px;
        border-radius: 5px;
        display:inline-block;
    }
    #admin-title>button{        
        margin:10px;
    }
    .admin-close2, .admin-close3, .admin-close4{
        display:none;
    }
    .admin-open1, .admin-open2, .admin-open3, .admin-open4{
        border:none;
        background-color:white;
        background-image:url('../images/btn_allowclose.png');
        background-repeat: no-repeat;
        width:30px;
        height:20px;
    }
    .admin-close1, .admin-close2, .admin-close3, .admin-close4{
        border:none;
        background-color:white;
        background-image:url('../images/btn_allowopen.png');
        background-repeat: no-repeat;
        width:30px;
        height:20px;
    }
    .admin-open1{
        display:none;
    }
    #adminbox2, #adminbox3, #adminbox4{
        display:none;
    }
    .list-table{
        width:100%;
        padding:5px;
    }
    .list-table>p{
        font-weight:bolder;
        margin:0;
        display:inline-block;
        padding-bottom:10px;
        margin-right:10px;
    }
    .col1{
        width:35px;
        text-align:center;
    }
    .list-table>form>.col1{
        width:35px;
    }
    .col3, .col2{
        width:80px;
    }
    .list-table>form{
        text-align:left;
    }
    .list-table>form>p{
        margin:0;
        display:inline-block;
        margin-right:10px;
    }
    .list-table>form>p>input{
        border:none;
        width:30px;
        text-align:center;
    }
    .list-table>form>span>button{
        float:right;
        margin-right:15px;
    }


    #admin-product{
        padding-bottom:50px;
    }
    #board_list{
        text-align:center;
    }
    #board_list>div>.board-one{
        border:solid 1px gray;
        padding:10px;
        margin:10px;
    }
    #board_list>div{
        display:inline-block;
        width:30%;
    }
    #page_num{
        text-align:center;
    }

    .buttons1{
        padding:10px;
        text-align:center;
        margin:auto;
        display:block;
    }
    .buttons1>button{
        background: rgba(0,0,0,0.1);
        color:rgba(0,0,0);
        border:solid 1px black;
        width:250px;
        height:40px;
    }
    .buttons1>button:hover{
        color:rgba(1,165,141);
        border:solid 1px rgba(1,165,141);
    }
    .buttons2{
        text-align:center;
        display:block;
        margin:auto;
    }
    .buttons3{
        text-align:center;
        margin:auto;
    }
    .pro-upload{
        background: rgba(0,0,0,0.1);
        color:black;
        border:solid 1px black;
        width:250px;
        height:40px;
    }
    .pro-upload:hover{
        color:rgba(1,165,141);
        border:solid 1px rgba(1,165,141);
    }

    #admin-one{
        padding-bottom:50px;
    }
    #admin-qna{
        padding-bottom:50px;
    }

    #qa_list1>li>p{
        margin-left:8px;
        font-weight:bolder;
        text-align:center;
        display:inline-block;
    }

    #qa_list1>li{
        display:inline-block;
    }
    .qa1{
        width:35px;
        text-align:center;
    }
    .qa2{
        width:70px;
        text-align:center;
    }
    .qa3{
        width:240px;
    }
    .qa4{
        width:160px;
    }
    .qa5>input{
        margin-left:-10px;
    }
    #qa_list2>li>p{
        margin:3px;
        display:inline-block;
        margin-left:8px;
    }
}
