@media all and (min-width:320px) and (max-width:767px)/*(max-width:420px)*/{
    #id-search{

        margin-bottom:150px;
        margin-top:50px;
        text-align:center;
    }
    #id-search>h3{
        font-size:25px;
    }
    #search_box{
        border:solid 1px rgba(0,0,0,0.1);
        margin:10px;
        margin-top:50px;
    }
    .search-top{
        width:500px;
        margin:auto;
        margin-top:50px;
        text-align:left;
    }
    .search-top>ul>li{
        display:inline-block;
        padding:20px;
    }
    .ck_num{
        font-weight:bolder;
    }
    .ck_email:hover{
        font-weight:bolder;
    }

    .search-mid{
        margin:20px;
        width:500px;
        margin:auto;
        padding:20px;
        text-align:left;
    }
    .search-email>ul>.search-h{
        display:inline-block;
        padding:5px;
        width:180px;
    }
    .search-number>ul>.search-h{
        display:inline-block;
        padding:5px;
        width:180px;
    }
    .search-email>ul>.search-t{
        display:inline-block;
        padding:5px;
        width:250px;
        height:35px;
    }
    .search-number>ul>.search-t{
        display:inline-block;
        padding:5px;
        width:250px;
        height:35px;
    }
    .search-t>input{
        border:solid 1px gray;
        width:250px;
        height:35px;
    }
    .search-t>.phone{
        width:71px;
        display:inline-block;
    }
    .search-t>p{
        margin:0;
        padding:0;
        display:inline-block;
    }
    #search-bottom{
        margin:30px;
        padding:10px;
    }
    #search-bottom>button{
        width:300px;
        margin:10px;
        height:35px;
    }
    .search_pass{
        border:solid 1px gray;
        background-color:gray;
    }
    .search_pass{
        color:white;
    }
    .search_id{
        border:solid 1px gray;
        background-color: white;
    }
    .search_id>a{
        color:gray;
    }
    .search_id:hover{
        background-color:gray;
    }
    .search_id:hover>a {
        color:white;
    }

    
}

@media all and (min-width:768px) and (max-width:1023px)/*(max-width:420px)*/{
    #id-search{

        margin-bottom:150px;
        margin-top:50px;
        text-align:center;
    }
    #id-search>h3{
        font-size:25px;
    }
    #search_box{
        border:solid 1px rgba(0,0,0,0.1);
        margin:10px;
        margin-top:50px;
    }
    .search-top{
        width:500px;
        margin:auto;
        margin-top:50px;
        text-align:left;
    }
    .search-top>ul>li{
        display:inline-block;
        padding:20px;
    }
    .ck_num{
        font-weight:bolder;
    }
    .ck_email:hover{
        font-weight:bolder;
    }

    .search-mid{
        margin:20px;
        width:500px;
        margin:auto;
        padding:20px;
        text-align:left;
    }
    .search-email>ul>.search-h{
        display:inline-block;
        padding:5px;
        width:180px;
    }
    .search-number>ul>.search-h{
        display:inline-block;
        padding:5px;
        width:180px;
    }
    .search-email>ul>.search-t{
        display:inline-block;
        padding:5px;
        width:250px;
        height:35px;
    }
    .search-number>ul>.search-t{
        display:inline-block;
        padding:5px;
        width:250px;
        height:35px;
    }
    .search-t>input{
        border:solid 1px gray;
        width:250px;
        height:35px;
    }
    .search-t>.phone{
        width:71px;
        display:inline-block;
    }
    .search-t>p{
        margin:0;
        padding:0;
        display:inline-block;
    }
    #search-bottom{
        margin:30px;
        padding:10px;
    }
    #search-bottom>button{
        width:300px;
        margin:10px;
        height:35px;
    }
    .search_pass{
        border:solid 1px gray;
        background-color:gray;
    }
    .search_pass>a{
        color:white;
    }
    .search_id{
        border:solid 1px gray;
        background-color: white;
    }
    .search_id>a{
        color:gray;
    }
    .search_id:hover{
        background-color:gray;
    }
    .search_id:hover>a {
        color:white;
    }
}


@media all and (min-width:1024px) and (max-width:2048px)/*(max-width:420px)*/{
    #id-search{
        margin-bottom:150px;
        margin-top:50px;
        text-align:center;
    }
    #id-search>h3{
        font-size:25px;
    }
    #search_box{
        width:50%;
        margin:auto;
        border:solid 1px rgba(0,0,0,0.1);
        margin-top:50px;
    }
    .search-top{
        width:500px;
        margin:auto;
        margin-top:50px;
        text-align:left;
    }
    .search-top>ul>li{
        display:inline-block;
        padding:20px;
    }
    .ck_num{
        font-weight:bolder;
    }
    .ck_email:hover{
        font-weight:bolder;
    }

    .search-mid{
        margin:20px;
        width:500px;
        margin:auto;
        padding:20px;
        text-align:left;
    }
    .search-email>ul>.search-h{
        display:inline-block;
        padding:5px;
        width:180px;
    }
    .search-number>ul>.search-h{
        display:inline-block;
        padding:5px;
        width:180px;
    }
    .search-email>ul>.search-t{
        display:inline-block;
        padding:5px;
        width:250px;
        height:35px;
    }
    .search-number>ul>.search-t{
        display:inline-block;
        padding:5px;
        width:250px;
        height:35px;
    }
    .search-t>input{
        border:solid 1px gray;
        width:250px;
        height:35px;
    }
    .search-t>.phone{
        width:71px;
        display:inline-block;
    }
    .search-t>p{
        margin:0;
        padding:0;
        display:inline-block;
    }
    #search-bottom{
        margin:30px;
        padding:10px;
    }
    #search-bottom>button{
        width:300px;
        margin:10px;
        height:35px;
    }
    .search_pass{
        border:solid 1px gray;
        background-color:gray;
    }
    .search_pass{
        color:white;
    }
    .search_id{
        border:solid 1px gray;
        background-color: white;
    }
    .search_id>a{
        color:gray;
    }
    .search_id:hover{
        background-color:gray;
    }
    .search_id:hover>a {
        color:white;
    }

    
}


