@media all and (min-width:768px) and (max-width:1023px)/*(max-width:420px)*/{
    #product_form{
        margin:auto;
        padding:0;
    }
    #product_form-top{
        padding:20px;
        height:400px;
    }
    #product_form>p{ 
        font-size:30px;
        text-align:center;
        margin:50px;
    }
    #product-img{
        text-align:center;
        width:400px;
        height:400px;
        float:left;
    }
    #product-img>img{
        width:400px;
        height:400px;
        margin:10px;
    }
    #product-text{
        margin:auto;
        width:400px;
        padding:10px;
    }
    #product-text>input{
        display:block;
        margin:7px;
        border:none;
        width:300px;
    }
    .Pro_name{
        color:black;
        width:400px;
        font-size:23px;
    }
    .Pro_name::placeholder{
        color:black;
    }
    .Pro_price{
        width:400px;
        font-size:20px;
        color:rgba(231,88,12);
        font-weight:bolder;
    }
    .Pro_price::placeholder{
        color:rgba(231,88,12);
        font-weight:bolder;
    }
    .Pro_orilgn{
        width:400px;
        font-size:15px;
        color:gray;
    }
    .Pro_table>ul{
        padding:10px;
    }
    .Pro_table>ul>textarea{
        width:370px;
    }
    #product-text>button{
        text-align:center;
        margin:auto;
    }
    .Pro_buttons{
        margin:auto;
        text-align:center;
    }
    .Pro_buttons>li{
        padding:10px;
    }
    .Pro_buttons>li>button{
        width:70px;
        height:30px;
        padding:7px;
        text-align:center;
    }

    
    #product_form-bottom{
        border:solid 1px black;
        padding:30px;
        margin:30px;
        margin-top:60px;
        margin-bottom:60px;
    }
    .search_category>li>select{
        width:150px;
        height:25px;
    }
    .event_ct{
        display:block;
        margin-bottom:10px;
    }
    .animal_ct, .ct, .ct_f{
        display:inline-block;
    }

    .product_infor{
        padding:10px;
    }
    .product_infor>div>p{
        font-size:20px;
        font-weight:border;
    }
    .product_infor>div{
        margin-bottom:30px;
    }
    .product_infor>div>textarea{
        width:760px;
    }
    .ingre>ul{
        display:block;
    }
    .ingre>ul>li{
        text-align:center;
        width:96px;
        padding:3px;
        display:inline-block;
        font-size:17px;
    }
    .ingre>ul>li>input{
        width:96px;
        height:20px;
        margin:10px;
        margin-left:0;
    }

    footer{
        margin-top:100px;
    }
}
