@media all and (min-width:320px) and (max-width:767px)/*(max-width:420px)*/{
    #product_view{
        margin:auto;
        padding:0;
    }
    #product_view-top{
        margin-top:20px;
        padding:20px;
    }
    #product-img{
        text-align:center;
        margin:auto;
        width:400px;
        height:320px;
    }
    #product-img>img{
        width:300px;
        height:300px;
    }

    #product-text{
        width:400px;
        margin:auto;
    }
    #product-text>ul>li{
        display:block;
        margin:7px;
        border:none;
    }
    .Pro_category{
        padding-left:10px;
    }
    .view_content{
        padding:0;
        margin:0;
    }
    .view_content>li>p{
        padding:3px;
        margin:0;
    }
    .view_content>li>a{
        border:solid 1px pink;
        margin-top:20px;
    }
    .Pro_table>ul>li{
        padding-bottom:5px;
    }
    .view-url{
        text-align:center;
        padding:20px;
    }
    .view-url>a{
        background-color:rgba(248,113,94);
        border:none;
        padding:10px;
        color:white;
        text-align:center;
    }

    .Pro_name{
        color:black;
        width:400px;
        font-size:23px;
    }
    .Pro_price{
        color:rgba(231,88,12);
        font-weight:bolder;
        width:400px;
        font-size:20px;
        font-weight:bolder;
    }
    .Pro_orilgn{
        width:400px;
        font-size:15px;
        color:gray;
    }
    .Pro_table>ul{
        padding:10px;
    }
    .buttons{
        text-align:center;
        margin:auto;
    }
    .buttons>li{
        display:inline-block;
        padding:10px;
    }
    .buttons>.list{
        display:block;
        margin:auto;
    }
    .buttons>.list>button{
        width:190px;
    }
    footer{
        margin-top:50px;
    }

    
    #product_view-bottom{
        margin-top:80px;
        border:solid 1px black;
        padding:30px;
        margin-bottom:20px;
    }
    #product_view-bottom>div{
        margin-bottom:70px;
    }
    .bottom-title{
        font-size:20px;
        font-weight:bolder;
    }
    .bottom-content{
        padding-left:20px;
        font-size:18px;
    }
    .ingre>ul{
        padding-left:30px;
        margin:auto;
        display:block;
    }
    .ingre>ul>li{
        font-size:18px;
        text-align:center;
        width:60px;
        display:inline-block;
    }
    .event_ct{
        display:block;
        margin-bottom:10px;
    }
    .animal_ct, .ct, .ct_f{
        display:inline-block;
    }

    .product_infor{
        padding:10px;
    }
    .product_infor>div>p{
        font-size:20px;
        font-weight:border;
    }
    .product_infor>div{
        margin-bottom:30px;
    }

    .ingre>ul{
        display:block;
    }
    .ingre>ul>li{
        text-align:center;
        width:60px;
        padding:3px;
        display:inline-block;
    }
    .list-url{
        text-align:center;
        padding:0;
        margin-left:-20px;
        margin-bottom:100px;
    }
    .list-url>ul>li>button{
        background-color:white;
        border:solid 1px rgba(89,74,69);
        color: rgba(89,74,69);
        padding:10px;
        width:300px;
        font-size:18px;
        font-weight:bolder;
    }
    .list-url>ul>li>button:hover{
        border:solid 1px rgba(252,194,124);
        background-color:rgba(252,194,124);
        color:white;
    }
}