@media all and (min-width:320px) and (max-width:767px)/*(max-width:420px)*/{
    #qnaone_box{
        margin:10px;
        margin-bottom:50px;
    }
    #qnaone_box>h3{
        margin-left:20px;
    }
    #one_form{
        text-align:center;
    }
    #one_form>li>p>input{
        width:570px;
        height:35px;
    }
    #one_form>li>p>textarea{
        width:570px;
        height:500px;
    }
    .buttons{
        margin-top:20px;
        text-align:center;
    }
    .buttons>li{
        margin:10px;
    }
    .buttons>li>button{
        width:50px;
        height:30px;
    }
}
@media all and (min-width:768px) and (max-width:1023px)/*(max-width:420px)*/{
    #qnaone_box{
        margin:10px;
        width:65%;
        margin:auto;
        margin-bottom:100px;
    }
    #qnaone_box>h3{
        margin-left:20px;
    }
    #one_form{
        text-align:center;
    }
    #one_form>li>p>input{
        padding:5px;
        width:90%;
        height:35px;
    }
    #one_form>li>p>textarea{
        padding:5px;
        width:90%;
        height:500px;
    }
    .buttons{
        margin-top:20px;
        text-align:center;
    }
    .buttons>li{
        margin:10px;
    }
    .buttons>li>button{
        width:50px;
        height:30px;
    }
}
@media all and (min-width:1024px) and (max-width:2048px)/*(max-width:420px)*/{
    #qnaone_box{
        margin:10px;
        width:35%;
        margin:auto;
        margin-top:80px;
        margin-bottom:150px;
    }
    #qnaone_box>h3{
        margin-left:20px;
    }
    #one_form{
        text-align:center;
    }
    #one_form>li>p>input{
        padding:5px;
        width:90%;
        height:35px;
    }
    #one_form>li>p>textarea{
        padding:5px;
        width:90%;
        height:500px;
    }
    .buttons{
        margin-top:20px;
        text-align:center;
    }
    .buttons>li{
        margin:10px;
    }
    .buttons>li>button{
        width:50px;
        height:30px;
    }
}